
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: 'Italy', cursive;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}

h1 {
  font-size: 45px;
  margin-left: 170px;
}

.board {
  border: 10px solid black;
  background: black;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 20px;
}

.squares {
  background: white;
  border: none;
  font-size: 100px;
  cursor: pointer;
  outline: none;
}

.X {
  color: red;
}
.O {
  color: green;
}

.info-wrapper {
  display: flex;
  justify-content: space-between;
}

h3 {
  padding: 10px;
  font-size: 30px;
}

li {
  list-style: none;
}

.info-wrapper button {
  background: red;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  margin: 10px 0px;
  width: 300px;
  font-size: 20px;
  margin-left: 80px;
}
